* {
  font-family: Helvetica, sans-serif;
}

.btn-success {
  background-color: #5CB85F !important;
  font-weight: 700;
}

section, footer {
  margin-bottom: 100px;
}

nav, #hero {
  background-color: #F1F3FF;
}

.nav-link {
  margin-right: 20px;
}

#hero {
  padding-top: 37px;
}

.heading-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 16px;
}

.tick {
  width: 40px;
  height: 40px;
}

#services h3 {
  font-weight: 700;
  margin-bottom: 24px;
}

.heading {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 24px;
}

.card {
  border-radius: 8px;
  width: 268px;
}

#why-us .card img {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

#why-us .card h5 {
  font-weight: 700;
  margin-bottom: 16px;
}

#why-us .card p {
  font-weight: 300;
  margin-bottom: 14px;
}

#why-us .card {
  padding: 20px;
}

#card-group {
  margin-top: 40px;
}

.testimonial-name {
  font-weight: 700;
  font-size: 14px;
}

#carousel-testimonial {
  margin-top: 40px;
}

.testi {
  width: 619px;
  height: 270px;
  background-color: #F1F3FF;
  border-radius: 8px;
  padding: 30px 32px;
}

.circle {
  border-radius: 50%;
  padding: 7px 11px;
  border: 1px solid black;
}

.circle:hover {
  border: 1px solid white;
  background-color: #5CB85F;
  color: white;
}

.user-image {
  width: 80px;
  margin: 50px ;
}

.carousel-control {
  width: 32px;
  background-color: #fff;
  border: 0;
  margin: 10px;
}

#getting-started {
  background-color: #0D28A6;
  border-radius: 13px;
  color: #fff;
  padding: 64px;
}

#getting-started p {
  width: 468px;
  margin-bottom: 52px;
}

.accordion-item {
  margin-bottom: 16px;
  border: 1px solid #D4D4D4 !important;
  border-radius: 4px;
}

footer img {
  margin-right: 16px;
}